.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align:center;
  color:white;
}

.beerDiv{
  margin-top:40px;
  padding:10px;
  font-size:1.2em;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
}
.logoDiv{

 text-align:center;
}
.logoStuff{
margin-top:20px;
  width:200px;
}
.beer {
  margin-top: 10px;
  margin-left: 10px;
 margin-right:10px;
  padding-left:10px;
  border: 1px solid #333;
  background-color:'white';
}

.btn{
 border:1px solid #666;
  color:black;
  padding:20px;
}
.inputBox{
  height:40px;
  width:60%;
  font-size:1.4em;
  border:3px solid #f9f9f9;
}
.searchBtn{
  background-color: #333;
  height:50px;
  width:80px;
  margin-left:10px;
  font-size:1.2em;
  color:white;
    position: relative;
    top:0px;
  text-transform: capitalize;
  

}

.showNow{
  display:block;
}

.hideNow{
  display:none;
}

.beer h1{
  color:black;
}
.btnLike{
  background-color:black;
  color:white;
  margin-top:40px;
  margin-left:10px;
  width:103px;
  padding:10px;
}
.beerHover {
  margin-top: 10px;
  margin-left: 10px;
 margin-right:10px;
  padding-left:10px;
  border: 1px solid #595756;
  background-color:#f4dc42;
  color:#333
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
